@charset "utf-8";
/* CSS Document */

.language{
	font-size: 20px;
	line-height: 88px;
	color: #FFFFFF;
	float: right;
	height: 88px;
	padding-right: 5px;
	padding-left: 25px;
	font-weight: lighter;
}


.language a{
	font-size: 20px;
	line-height: 88px;
	color: #CCCCCC;
	float: right;
	height: 88px;
	font-weight: lighter;
}


.language a:hover{
	font-size: 20px;
	line-height: 88px;
	color: #FFFFFF;
	float: right;
	height: 88px;
}

.weixin{
	display:inline-block;
	position:relative;
	z-index:9999999999999999;
	width: 80px;
	height: 88px;
	background-image: url(../img/top-wx.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}

.weixin:hover{
	display:inline-block;
	position:relative;
	margin:0px;
	z-index:9999999999999999;
	width: 80px;
	height: 88px;
	background-image: url(../img/top-wx2.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
    margin-left: 15px;
}


.weixin img{display:none}
.weixin:hover img{display:block;position:absolute;right:0;z-index:9999999999999999;top:63px}


/*导航栏下的商品*/

#daohangtiao {
	text-align: center;
	width: 100%;
	z-index: 999;
	position: relative;
	background-color: #ededed;

}
.site-header-nav li:hover .site-header-nav-show{display:block;}
.site-header-nav-show{
	display:none;
	position:absolute;
	top:72px;
	width:100%;
	overflow: hidden;
	z-index:999999;
	left:0;
	background-color: #ededed;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
}
.site-header-nav-show ul{
	display:block;
	width:1231px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}
.site-header-nav-show ul li{
	float:left;
	width:204px;
	height:230px;
	overflow:hidden;
	padding-top: 10px;
	padding-bottom: 22px;
	color:#333333;

}
.site-header-nav-show ul li a:hover{background-color:#ededed;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2ffffff,endColorstr=#B2ffffff);color:#000000;}
.site-header-nav-show ul li:last-of-type{
	border-right-width: 0px;
	border-right-style: dotted;
	border-right-color: #c4c4c4;
}
.site-header-nav-show ul li img{display:block;width:160px;height:160px;margin:21px auto 5px;}
.site-header-nav-show ul li p{
	font-size:16px;
	text-align:center;
	padding-top: 15px;

}



.site-header-nav-show ul li span{display:block;font-size:10px;color:#c83f39;text-align:center;}



/*导航*/
.site-header{
	z-index: 9999999;
	width: 100%;
	background-color:#ededed;
	left:0;
	top:0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FF6600;
	height: 72px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}


.site-header-relative{position:relative;margin:0 auto;height:72px;width:1231px;}





.site-header-nav{
	height:72px;
	float:left;
	padding-left: 0px;
	padding-right: 3px;
}

.site-header-nav li{
	float:left;
	font-size:17px;
	line-height:72px;
	color:#444444;
	text-align:center;
	max-width: 140px;
	padding-top: 0;
	padding-right: 23px;
	padding-bottom: 0;
	padding-left: 15px;

}
.site-header-nav li a{color: #666666;display:block;}
.site-header-nav li:hover{
	color: #000000;

}

	/* 表单部分 */
.module_form_content {width:90%; padding-top:20px }
.module_form_content .btn-area { padding-left:130px!important; }
.module_form_content .btn-area .btn-submit { margin-right: 0!important; }
.module_field { overflow:hidden; zoom:1; padding:5px 0; clear:both; }
.module_field:after{content:"";display:table;clear:both}
.module_field .c_left { float:left; width:100px; padding-right:30px; color:#333; font-size:14px; line-height:46px; text-align:right; }
.module_field .middle { display:block; overflow:hidden; zoom:1; }
.module_field .middle .input { float:none !important; width:80%; padding:10px 16px; font-size:14px; transition: all 0.3s linear; vertical-align:top; box-sizing: border-box; }
.module_field .middle .input[name="code1"] { float:left !important; width:50% !important; padding: 10px 16px !important; }
.module_field .middle textarea.input { min-height:166px; }

.btn-area .btn-submit, .btn-area .reset { color:#fff; }
.btn-area .reset {color: #999;}
.btn-area .btn-submit { background:#b78a4b; margin-right:10px; }
.btn-area .btn-submit:hover { background:#f6aa26;}
.btn-area .reset { background:#122922;color: #fff; }
.btn-area .reset:hover { background:#000f16; }
.btn-area { padding:20px 0 !important; }
.btn-area .btn-submit, .btn-area .reset { display: inline-block; width:40%; height:44px; border:0; font-size:18px; line-height:44px; transition:all 0.3s linear; z-index:1; vertical-align: top; }


/*优点*/
.spa {
    height: 450px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
	padding-top: 50px;
}
.pb_h {
    text-align: center;
    height: 109px;
    overflow: hidden;
    text-align: center;
    font-weight: 100;
    background: url(../img/spa_l3.gif) left 42px repeat-x;
}
.pb_h a {
    display: inline-block;
    width: 558px;
    margin: 0 auto;
    background: #f2f1f6;
}
.pb_h b {
    font-weight: 100;
    display: block;
    line-height: 31px;
    font-size: 24px;
    color: #362c24;
}
.pb_h span {
    display: block;
    line-height: 22px;
    height: 26px;
    font-size: 20px;
    text-transform: uppercase;
    color: #9b8574;
}
.spa dl {
    float: left;
    display: inline;
    width: 300px;
    background: url(../img/spa_l.gif) right top no-repeat;
    overflow: hidden;
}
.spa .lst {
    background: none;
}
.spa dt {
    height: 115px;
    overflow: hidden;
    vertical-align: top;
}
.spa dt {
    text-align: center;
}
.spa dt img {
    vertical-align: top;
    display: block;
    width: 91px;
    vertical-align: top;
    height: 91px;
    overflow: hidden;
    margin: 0 auto;
}
.spa dd h4 {
    background: url(../img/spa_l2.png) center 55px no-repeat;
    text-align: center;
    line-height: 27px;
    height: 89px;
    overflow: hidden;
    font-size: 16px;
}
.spa dd h4 a {
    color: #362c24;
}
.spa dd p {
    line-height: 22px;
    color: #362c24;
    padding: 0 53px;
    line-height: 22px;
    text-align: justify;
    height: 90px;
    overflow: hidden;
}


/*步骤*/
.od {
    font-family: "Microsoft YaHei";
    clear: both;
    height: 282px;
    overflow: hidden;
    background: url(../img/od_bg.jpg) center top no-repeat;
}
.fl {
    float: left;
}
.header, .content, .footer {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.od_l {
    padding: 28px 0 0;
    width: 310px;
    overflow: hidden;
    text-align: center;
}
.od_l h3 {
    text-align: center;
    width: 115px;
    padding: 28px 0 0;
    line-height: 30px;
    font-weight: 100;
    height: 88px;
    overflow: hidden;
    font-size: 20px;
    color: #362c24;
    margin: 0 auto;
	background:none;
}
.od_l p {
    line-height: 30px;
    padding: 17px 0 0;
    height: 70px;
    font-weight: 100;
    font-size: 20px;
    color: #24211b;
}
.od_l p b {
    display: block;
    font-size: 20px;
    color: #fe6903;
    font-family: Arial;
}
.od_l a {
    display: inline-block;
    text-align: center;
    width: 124px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    background: #362c24;
    margin: 0 auto;
}
.fr {
    float: right;
}
.od_r {
    width: 890px;
    overflow: hidden;
    padding: 65px 0 0;
}
.od_r li {
    text-align: center;
    width: 175px;
    float: left;
    margin: 0 47px 0 0;
}
li {
    list-style: none;
}
.od_r li img {
    margin: 0 auto;
    display: block;
    vertical-align: top;
}
.od_r li h4 {
    padding: 6px 0 0;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    font-size: 20px;
}
.od_r li h4 a {
    color: #fe6903;
}
.od_r li p {
    font-size: 14px;
    line-height: 25px;
    font-size: 16px;
    color: #9b8574;
}


.ys1 {
    height: 781px;
    overflow: hidden;
    background: url(../img/ys1.jpg) center top no-repeat;
}
.ys1 h3 {
    padding: 133px 0 0 210px;
    height: 313px;
    overflow: hidden;
	background:none;
}
.ys1 h3 p {
    line-height: 73px;
    height: 73px;
    padding: 0 0 0 23px;
    overflow: hidden;
}
.ys1 h3 p b {
    float: left;
    font-weight: 100;
    font-size: 58px;
    color: #362c24;
    margin: 0 70px 0 0;
}
.ys1 h3 p i {
    margin: 9px 0 0;
    font-weight: 100;
    float: left;
    font-style: normal;
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
}
.ys1 h3 span {
    font-weight: 100;
    clear: both;
    display: block;
    line-height: 38px;
    font-size: 22px;
    color: #9b8574;
}
.ys1 h3 span em {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    color: #9b8574;
    font-family: Arial;
}
.ys1 dl {
    padding: 0 0 0 600px;
}

.ys dl dt {
    height: 82px;
    overflow: hidden;
    line-height: 41px;
    font-size: 20px;
    font-weight: bold;
    color: #362c24;
}
.ys dl dt b {
    font-size: 36px;
}
.ys dl dt span {
    display: block;
    font-weight: 100;
    line-height: 16px;
    font-size: 12px;
    color: #362c24;
    font-family: Arial;
}
.ys1 dl dd {
    width: 480px;
}
.ys dl dd span {
    display: block;
    line-height: 20px;
    color: #9b8574;
    font-size: 14px;
    padding: 0 0 15px 18px;
    background: url(../img/ys_ic.gif) left 6px no-repeat;
}
.ys2 {
    height: 510px;
    overflow: hidden;
    background: url(../img/ys2.jpg) center top no-repeat;
}
.ys2 dl {
    padding: 195px 0 0;
}
.ys2 dl dd {
    width: 480px;
}
.ys3 {
    height: 423px;
    overflow: hidden;
    background: url(../img/ys3.jpg) center top no-repeat;
}
.ys3 dl {
    padding: 106px 0 0 600px;
}




/*商品缩略图样式*/
.goods-box{ position:relative; margin-bottom:15px; padding:30px; font-size:12px; background:#fff; }
.goods-pic{ position:relative; float:left; width:370px; *z-index:1; }
	.pic-box{ float:left; }
	.pic-preview{ width:368px; height:368px; border:1px solid #e8e8e8; }
	.pic-scroll{ margin-top:10px; width:370px; }
	.pic-scroll .prev{ float:left; margin-right:5px; }
	.pic-scroll .next{ float:right; }
	.pic-scroll .prev,.pic-scroll .next{ display:block; font-family:"宋体"; text-align:center; width:10px; height:60px; line-height:60px; border:1px solid #e8e8e8; background:#f7f7f7; cursor:pointer; text-decoration:none; }
	.pic-scroll .items{ position:relative; float:left; width:335px; height:62px; overflow:hidden; }
	.pic-scroll .items ul{ position:absolute; margin:0; padding:0; width:999999px; height:100%; }
	.pic-scroll .items ul li{ float:left; margin:0; padding:0; width:67px; text-align:center; }
	.pic-scroll .items ul li img{ padding:2px; border:1px solid #e8e8e8; width:56px; height:56px; }
	.pic-scroll .items ul li img:hover{ padding:1px; border:2px solid #d70000; }
/*商品规格*/
.goods-spec{ position:relative; margin:0 0 0 395px; overflow:hidden; }
	.goods-spec h1{ display:block; color:#555; font-size:18px; font-weight:700; line-height:1.1em; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	.goods-spec .subtitle{ margin-top:5px; color:#888; font-size:14px; line-height:18px; }
	.goods-spec .spec-box{ position:relative; margin-top:10px; }
	.goods-spec .spec-box.line{ padding-top:10px; border-top:1px solid #efefef; }
	.goods-spec .spec-box:after{ clear:none; content:""; display:block; height:0; visibility:hidden; }
	.goods-spec .spec-box dl{ clear:both; display:block; }
	.goods-spec .spec-box dl:after{ clear:none; content:""; display:block; height:0; visibility:hidden; }
	.goods-spec .spec-box dl dt{ float:left; width:80px; line-height:38px; min-height:38px; color:#999; }
	.goods-spec .spec-box dl dd{ position:relative; padding:5px 0; line-height:26px; min-height:26px; color:#6c6c6c; }
	.goods-spec .spec-box dl dd s{ display:inline-block; text-decoration:line-through; }
	.goods-spec .spec-box dl dd .price{ display:inline-block; margin-right:5px; color:#f40; font-size:24px; font-weight:700; font-style:normal; }
	.goods-spec .spec-box dl dd .items li{ position:relative; float:left; margin:0 5px 8px 0; padding:1px; line-height:20px; vertical-align:middle; }
	.goods-spec .spec-box dl dd .items li a{ display:block; padding:1px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; border:1px solid #eee; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle; }
	.goods-spec .spec-box dl dd .items li a span{ display:inline-block; padding:5px 9px; font-style:normal; line-height:20px; }
	.goods-spec .spec-box dl dd .items li a img{ width:36px; height:38px; vertical-align:middle; }
	.goods-spec .spec-box dl dd .items li a.selected{ margin:-1px; color:#333; border:2px solid #f40; color:#f40; }
	.goods-spec .spec-box dl dd .stock-box{ display:block; float:left; margin-right:10px; width:64px; }
	.goods-spec .spec-box dl dd .stock-box input{ float:left; margin-right:3px; width:42px; height:30px; line-height:30px; text-align:center; border:1px solid #e8e8e8; }
	.goods-spec .spec-box .stock-box a{ display:block; float:left; margin-bottom:4px; width:15px; height:12px; line-height:12px; color:#333; font-size:11px; text-align:center; border:1px solid #e8e8e8;  cursor:pointer; overflow:hidden; }
	.goods-spec .spec-box .stock-txt{ float:left; line-height:32px; }
	.goods-spec .spec-box .btn-buy{ margin-top:15px; }
	.goods-spec .spec-box .btn-buy .buy{ display:inline-block; margin-right:10px; padding:0 30px; color:#e5511d; font-size:16px; line-height:38px; background:#ffe4d0; border:1px solid #f0cab6; cursor:pointer; }
	.goods-spec .spec-box .btn-buy .add{ display:inline-block; padding:0 30px; color:#fff; font-size:16px; line-height:38px; background:#f40; border:1px solid #f40; border-radius:2px; cursor:pointer; }
	.goods-spec .spec-box .btn-buy button.over{ color:#999; background:#f7f7f7; border-color:#e8e8e8; cursor:default; }
/* 图片放大镜样式*/
.jqzoom{ position:relative; float:left; display:block; margin:0; padding:0; width:368px; height:368px; border:none; cursor:crosshair; }
	.jqzoom img{ width:368px; height:368px; }
.zoomdiv{ position:absolute; top:0; left:0; z-index:100; display:none; width:368px; height:368px; background:#fff; border:1px solid #e8e8e8; text-align:center; overflow:hidden; }
.jqZoomPup{ position:absolute; top:0; left:0; z-index:10; visibility:hidden; width:20px; height:20px; border:1px solid #aaa; background:#fff; opacity:0.5;-moz-opacity:0.5; -khtml-opacity:0.5; filter:alpha(Opacity=50); }
/*商品Tab样式*/
.goods-tab .tab-head{ display:block; height:42px; border-bottom:1px solid #f0f0f0; background:#fff; }
	.goods-tab .tab-head ul li{ float:left; margin-left:-1px; border-left:1px solid #f0f0f0; border-right:1px solid #f0f0f0; }
	.goods-tab .tab-head ul li a{ display:block; padding:0 30px; height:42px; line-height:42px; color:#555; font-size:14px; }
	.goods-tab .tab-head ul li a:hover,.goods-tab .tab-head ul li a.selected{ color:#fff; background:#34ad2a; }
	.goods-tab .tab-content{ display:none; }
.jqzoom img {
    width: 368px;
}

.idx-add {
    height: 215px;
    background: url(../img/add.jpg) no-repeat center;
}